.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  ul, li, ol{
      list-style: none;
  }
* {
    margin: 0px;
    padding: 0px;
    
}
body{
    background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: 40% 0%, 70% -30%;
}
.gallery{
    display: flex;
    position: absolute;
    left: 450px;
    top: 170px;
    box-sizing: border-box;
    width: 56%;
    height: 70%;
    box-shadow: 1px 0px 10px 15px rgb(240, 240, 240), -1px 0px 10px 15px rgb(240, 240, 240);
    /*
    box-shadow : x축(양수면 오른쪽, 음수면 왼쪽) y축(양수면 아래쪽, 음수면 위쪽) 번짐정도(클 수록 흐려짐) 확산거리(클수록 그림자 크기 커짐) 색상
    */
}
.gallery #title{
    position: absolute;
    top: 15%;
    left: 10%;
    color: rgb(109, 2, 109);
    font-weight: bold;
    font-size: 40px;
}
.gallery #ex{
    position: absolute;
    top: 42%;
    left: 10%;
    color: gray;
}
.gallery #score1{
    border-radius: 5%;
    display: inline-table;
    position: absolute;
    top: 15%;
    left: 48%;
    background-color: rgba(243, 241, 241, 0.74);
    margin: 10px 20px;
    line-height: 45px;
    color: purple;
    font-weight: bold;
}
.gallery #score2{
    border-radius: 5%;
    display: inline-table;
    position: absolute;
    top: 25%;
    left: 50%;
    background-color: rgba(243, 241, 241, 0.74);
    margin: 10px 20px;
    line-height: 45px;
    color: purple;
    font-weight: bold;
}
.gallery #score3{
    border-radius: 5%;
    display: inline-table;
    position: absolute;
    top: 35%;
    left: 54%;
    background-color: rgba(243, 241, 241, 0.74);
    margin: 10px 20px;
    line-height: 45px;
    color: purple;
    font-weight: bold;
}
/*box1번*/
.gallery #box1>div{
    position: absolute;
    top: 58%;
    left: 10%;
    border:1px solid; 
    padding:85px;
    width: 9%;
    background: rgb(75, 0, 75);
    border-radius: 5%;
}
.gallery #box1>img{
    border-radius: 70%;
    width: 35px;
    position: absolute;
    top: 63%;
    left: 13%;
}
.gallery #box1>h3{
    color: #ffff;
    position: absolute;
    top: 63%;
    left: 18%;
    font-size: 11px;
}
.gallery #box1>h4{
    color: rgb(156, 0, 156);
    position: absolute;
    top: 65.5%;
    left: 18%;
    font-size: 11px;
}
.gallery #box1>span{
    color:rgb(216, 213, 213);
    position: absolute;
    top: 72%;
    left: 13%;
    font-size: 11px;
}


/*box2번*/
.gallery #box2>div{
    position: absolute;
    top: 60%;
    left: 37%;
    border:1px solid; 
    padding:85px;
    width: 9%;
    background: rgb(75, 0, 75);
    border-radius: 5%;
}
.gallery #box2>img{
    border-radius: 70%;
    width: 35px;
    position: absolute;
    top: 65%;
    left: 40%;
}
.gallery #box2>h3{
    color: #ffff;
    position: absolute;
    top: 65%;
    left: 45%;
    font-size: 11px;
}
.gallery #box2>h4{
    color: rgb(156, 0, 156);
    position: absolute;
    top: 67.5%;
    left: 45%;
    font-size: 11px;
}
.gallery #box2>span{
    color:rgb(216, 213, 213);
    position: absolute;
    top: 74%;
    left: 40%;
    font-size: 11px;
}

/*box3번*/
.gallery #box3>div{
    position: absolute;
    top: 62%;
    left: 64%;
    border:1px solid; 
    padding:85px;
    width: 9%;
    background: rgb(75, 0, 75);
    border-radius: 5%;
}

.gallery #box3>img{
    border-radius: 70%;
    width: 35px;
    position: absolute;
    top: 67%;
    left: 67%;
}
.gallery #box3>h3{
    color: #ffff;
    position: absolute;
    top: 67%;
    left: 72%;
    font-size: 11px;
}
.gallery #box3>h4{
    color: rgb(156, 0, 156);
    position: absolute;
    top: 69.5%;
    left: 72%;
    font-size: 11px;
}
.gallery #box3>span{
    color:rgb(216, 213, 213);
    position: absolute;
    top: 76%;
    left: 67%;
    font-size: 11px;
}

.attribution{
    top: 100%;
    left: 44%;
    position: absolute;
}